body {
    background-color: #fff !important;
    background-image: -webkit-linear-gradient(30deg, #fff 30%, #ccc 70%);
    background-attachment: fixed;
}

.bg-dark {
    background-color: #000 !important;
}

.container {
    max-width: 992px;
}

@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
}
