// excluding 0 so the first card has no delay.
@for $i from 1 through 4 {
    .delay-#{$i} {
        -webkit-animation-delay: $i * 100ms !important;
        animation-delay: $i * 100ms !important;
    }
}

body {
    background-color: #fff !important;
    background-image: -webkit-linear-gradient(30deg, #fff 30%, #ccc 70%);
    background-attachment: fixed;
}

.bg-dark {
    background-color: #000 !important;
}

.container {
    max-width: 992px;
}

@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
}
